<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Trang Quản Lý Nhân Viên (Giáo vụ)
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/admin">
        <i class="fa fa-dashboard"></i>Home
      </a>
    </li>
    <li>
      <a routerLink="/admin/nhanvien/list">
        <i class="fa fa-dashboard"></i>QL Nhân viên
      </a>
    </li>
    <li class="active">Here</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="col-lg-12">
    <div class="cardTuLamIndex">
      <div class="box-title">
        <div class="box-header with-border">
          <h3 class="box-title">Sửa thông tin Nhân Viên</h3>
        </div>
        <form class="form-horizontal" [formGroup]="NhanVienEditForm" (ngSubmit)="NhanVienEditSubmitForm()">
          <div class="box-body">
              <input type="hidden" formControlName="IdNhanVien" name="IdNhanVien">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Tên nhân viên</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="TenNhanVien" placeholder="Tên nhân viên">
                <p *ngIf="NhanVienEditForm.get('TenNhanVien').invalid && NhanVienEditForm.get('TenNhanVien').touched">Required</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Ngày/tháng/năm sinh</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" formControlName="NgaySinh" placeholder="ngày tháng năm sinh của nhân viên">
                <p *ngIf="NhanVienEditForm.get('NgaySinh').invalid && NhanVienEditForm.get('NgaySinh').touched">Required</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Số điện thoại</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="DienThoai" placeholder="Số điện thoại của nhân viên">
                <p *ngIf="NhanVienEditForm.get('DienThoai').invalid && NhanVienEditForm.get('DienThoai').touched">Required</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Địa chỉ</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="DiaChi" placeholder="Địa chỉ của nhân viên">
                <p *ngIf="NhanVienEditForm.get('DiaChi').invalid && NhanVienEditForm.get('DiaChi').touched">Required</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" formControlName="Email" placeholder="Số điện thoại của nhân viên">
                <p *ngIf="NhanVienEditForm.get('Email').invalid && NhanVienEditForm.get('Email').touched">Required</p>
                <p *ngIf="NhanVienEditForm.get('Email').email && NhanVienEditForm.get('Email').touched">Email không đúng định dạng</p>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">Trạng thái</label>
              <div class="col-sm-3">
                <select class="form-control select2" formControlName="TrangThai">
                  <option value="" disabled selected>Select your option</option>
                  <option *ngFor="let c of TrangThaiList" [value]="c.id">{{c.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" [disabled]="NhanVienEditForm.invalid" class="btn btn-info pull-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>